@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: rgb(82, 119, 12);
  display: inline-block;
  height: 100%;
  padding-inline: 10px;
  color: #fff;
}

.link {
  @apply h-auto inline-block ;
}
